.carroselContainer {
    width: 96%;
    height: 515px;
    margin: 40px 0 40px 24px;
    position: relative;
    /* background: red; */
}


.carrosel {
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    user-select: none;
    margin-left: 6px;
}

.carrosel::-webkit-scrollbar {
    display: none;
}


.carrosel .item {
    width: 336px;
    height: 336px;
    /* background: rgb(15, 238, 7); */
    margin: 0 15px;
    padding: 10px;
    flex: none;
    border-radius: 27.097px;

}

.carrosel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrosel .item .info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carrosel .item .info span {
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.carrosel .item .info .name {
    font-size: 1rem;
}

.leftClick img,
.rightClick img {
    height: 25px;
}


.leftClick {
    height: 25px;
    left: -2%;
    top: 30%;
    position: absolute;
    /* background: greenyellow; */
}

.rightClick {
    height: 25px;
    right: -2.5%;
    top: 30%;
    position: absolute;
    /* background: greenyellow; */
}