@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
    background: #facc15;
    border-radius: 20px;
}

body::-webkit-scrollbar{
    background: rgb(238, 238, 238);
}

img {
    pointer-events: none;
}

@import url('https://fonts.cdnfonts.com/css/open-sans');

.text-shadow {
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.45);
}

.background-Fundo {
    background: rgba(26, 26, 26, 0.456)
}

.custom-clip-path {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.custom-clip-left {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    transform: rotate(180deg);
}

.custom-clip-left3 {
    clip-path: polygon(100% 0, 0 38.5%, 100% 100%);
}

.custom-clip-tablet {
    clip-path: polygon(100% 0, 0 45%, 100% 100%);
}


.custom-clip-mobile {
    clip-path: polygon(50% 27%, 100% 0, 100% 30%, 57% 60%, 41% 60%, 0 30%, 0 0);
}

.clipPathMobile {
    clip-path: polygon(50% 9%, 100% 0, 100% 35%, 100% 66%, 75% 83%, 50% 100%, 25% 83%, 0 65%, 0% 35%, 0 0);
}

.clipPathMobile-2 {
    clip-path: polygon(50% 9%, 100% 0, 100% 35%, 100% 66%, 75% 83%, 50% 100%, 25% 83%, 0 65%, 0% 35%, 0 0);
}


body {
    overflow-x: hidden;
}

@media (max-width: 960px) {

    .custom-clip-left3 {
        clip-path: polygon(100% 0, 0 45%, 100% 100%);
    }

    /* responsalve */
    .custom-clip-blue-tablet {
        clip-path: polygon(100% 0, 0 0, 100% 87%);
        transform: rotate(0deg) !important;
    }
}

@media (max-width: 768px) {

    .custom-clip-left3 {
        clip-path: polygon(100% 0, 0 48%, 100% 100%);
    }
}

@media (min-width: 1024px) {

    .custom-clip-left3 {
        clip-path: polygon(100% 0, 0 38.4%, 100% 100%) !important;
        /* background: red !important; */
    }
}

@media (min-width: 912px) {
    .custom-clip-left3 {
        clip-path: polygon(100% 0, 0 40.5%, 100% 100%);
    }
}

@media (max-width: 280px) {
    #sectionDonation {
        width: 250px;
    }

    #sectionDonation address,
    #sectionDonation div:last-child  {
        width: 100%;
    }

}

/* ------ */