@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    pointer-events: none;
}

@import url('https://fonts.cdnfonts.com/css/open-sans');

.text-shadow {
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.45);
}

.background-Fundo {
    background: rgba(26, 26, 26, 0.456)
}

.custom-clip-path {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.custom-clip-left {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    transform: rotate(180deg);
}

.custom-clip-left3 {
    clip-path: polygon(100% 0, 0 38.5%, 100% 100%);
}

.custom-clip-blue-tablet {
    clip-path: polygon(100% 0, 0 0, 100% 87%);
    transform: rotate(0deg) !important;
}

body {
    overflow-x: hidden;
}


/* ------ */